
        </div>
      </div><!-- zone 1-->
    </div> <!-- sync -->





  <!-- hearst/item/standalone.tpl -->
<div class="hdnce-e hdnce-item-14555"><!-- mid:freeform.14555 -->
<div class="hc_sitefooter">
<div class="lock1200">
   <div class="hcsf_header">
    <a href="http://www.sfchronicle.com"><img src="http://www.sfchronicle.com/img/modules/sitefooter/footer_logo.png"></a>
    <div class="toplink"><a href="#container"><span class="topLinkText">Return to Top</span></a></div>
   </div>
   <ul class="hcsf_links">
    <li class="hcsf_about"> 
     <h3>About</h3>
     <ul class="hcsf_linklist">
      <li><a href="http://www.hearst.com/newspapers/san-francisco-chronicle.php">Our Company</a></li>
      <li><a class="ad-choice" href="http://www.aboutads.info/choices/"><span class="ad-link"></span> Ad Choices </a></li>
      <li><a href="http://www.sfchronicle.com/hr/">Careers</a></li> 
      <li><a href="/terms_of_use/">Terms of Use</a></li>
      <li><a href="http://marketing.sfgate.com">Advertising</a></li>
      <li><a href="/privacy_policy">Privacy Policy</a></li>
      <li><a href="/privacy_policy#your_rights">Your Privacy Rights</a></li>
      <li><a href="/privacy_policy/#caprivacyrights">Your California Privacy Rights</a></li>
     </ul>
    </li>
   </ul>
   <ul class="hcsf_links">
    <li class="hcsf_contact"> 
     <h3>Contact</h3>
     <ul class="hcsf_linklist">
      <li><a href="/customer_service">Customer Service</a></li>
      <li><a href="/faq">Frequently Asked Questions</a></li>
      <li><a href="/newsroom_contacts">Newsroom Contacts</a></li>
     </ul>
    </li>
   </ul>
   <ul class="hcsf_links">
    <li class="hcsf_connect desktop"> 
     <h3>Connect</h3>
     <ul class="hcsf_linklist">
      <li><a class="fb-link" href="https://www.facebook.com/sanfranciscochronicle">Facebook</a></li>
      <li><a class="twtr-link" href="https://twitter.com/sfchronicle">Twitter</a></li> 
      <li><a class="li-link" href="https://www.linkedin.com/company/san-francisco-chronicle">LinkedIn</a></li>
      <li><a class="gplus-link" href="https://plus.google.com/+sfgate/posts">Google+</a></li>
     </ul>
    </li>
    <li class="hcsf_connect mobile"> 
     <h3>Connect</h3>
     <ul class="hcsf_linklist">
      <li><a class="fb-link" href="https://www.facebook.com/sanfranciscochronicle"></a></li>
      <li><a class="twtr-link" href="https://twitter.com/sfchronicle"></a></li> 
      <li><a class="li-link" href="https://www.linkedin.com/company/san-francisco-chronicle"></a></li>
      <li><a class="gplus-link" href="https://plus.google.com/+sfgate/posts"></a></li>
     </ul>
    </li>
   </ul>
<ul class="hcsf_links">
  <li class="hcsf_contact"> 
    <h3>Services</h3>
    <ul class="hcsf_linklist">
      <li><a href="/profile">Profile</a></li>
      <li><a href="/account">Subscriber Services</a></li>
      <li><a href="/e-edition">e-edition</a></li>
      <li><a href="/appdownload">App</a></li>
      <li><a href="/archive">Archives</a></li>
      <li><a href="/membership">Membership</a></li>
      <li><a href="/store">Store</a></li>
      <li><a href="/subscribe">Subscription Offers</a></li>
    </ul>
  </li>
</ul>
   <div class="copyright-wrap">
    <img src="http://www.sfchronicle.com/img/modules/sitefooter/hst_copy_logo.png">
<p class="copyright">© <script>document.write(new Date().getFullYear());</script>2017 Hearst Corporation</p>
   </div>
</div>



  </div>


</div><!-- / hdnce-e -->  

<!-- e src/business/templates/hearst/common/footer.tpl -->
</div>



  </body>
</html>
