<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="http://www.sfchronicle.com/external/css/global.sharedmain.r8.4.0.12.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://www.sfchronicle.com/external/css/global.sharedmodules.r8.4.0.12.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://www.sfchronicle.com/external/css/global.sharedpages.r8.4.0.12.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://www.sfchronicle.com/external/css/global.sitemain.r8.4.0.12.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://www.sfchronicle.com/external/css/global.sitemodules.r8.4.0.12.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://www.sfchronicle.com/external/css/global.sitepages.r8.4.0.12.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://www.sfchronicle.com/external/css/global.section.r8.4.0.12.css" media="all" />
    <link rel="stylesheet" type="text/css" href="http://www.sfchronicle.com/external/css/global.ie8.r8.4.0.12.css" media="all" />
    <script type="text/javascript" src="http://www.sfchronicle.com/js/hdn/utils/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://www.sfchronicle.com/external/js/global.header.r8.4.0.12.js"></script>
    
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
<div id="container" class="section_r2">
      <!-- src/business/templates/hearst/home/premium_header_branding.tpl -->
<div id="header">   <!-- ux/premiumsfgate/templates/hearst/common/admin_bar.tpl -->
<div class="header-top">
   
        






</div>
<!-- e ux/premiumsfgate/templates/hearst/common/admin_bar.tpl -->
        <div class="header-branding section">
    <div class="menu-btn">
      <a id="menuBtn" class="hdn-analytics" data-hdn-analytics="visit|hamburger-menu|hamburger-menu|0"></a>
    </div>
    <div class="wrap-center">
      <a class="logo-link" href="/"></a>
            <h1 class="section-title">Category</h1>
          </div>
  </div>


<div id="navMenu" class="nav-menu" style="left: -175px;">
  <div class="nav-search">
    
    <form class="search-form" action="/search/" method="get">
            <input type="hidden" name="action" value="search">
      <input type="hidden" name="firstRequest" value="1">
      <input type="hidden" name="searchindex" value="gsa">
            <fieldset>
        <input class="form-input" id="search" name="query" type="text" value="" placeholder="Search" autocomplete="off">
        <input class="search-btn" value="" name="search" type="submit">
      </fieldset>
    </form>
  </div>
  <ul class="nav-menu-list">
                        <li id="nav-menu-link-1422" class="menu-item childless hdn-analytics">
      <div class="nav-label" data-hdn-analytics="visit|Home|navigation|1">
        <a href="/" class="hdn-analytics" data-hdn-analytics="visit|Home|navigation|1">
          <span class="section-link" data-naveid="1422">Home</span>
        </a>
      </div>
    </li>
                            <li id="nav-menu-link-3920" class="menu-item childless hdn-analytics">
      <div class="nav-label" data-hdn-analytics="visit|SFGATE|navigation|2">
        <a href="http://www.sfgate.com/" class="hdn-analytics" data-hdn-analytics="visit|SFGATE|navigation|2">
          <span class="section-link" data-naveid="3920">SFGATE</span>
        </a>
      </div>
    </li>
                            <li id="nav-menu-link-1355" class="menu-item hdn-analytics" data-hdn-analytics="visit|Local|navigation|3">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/local/" class="hdn-analytics" data-hdn-analytics="visit|Local|navigation|3">
          <span class="section-link" data-naveid="1355">Local</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="http://www.sfchronicle.com/pot-legalization/" class="hdn-analytics" data-hdn-analytics="visit|Local-Pot Legalization|navigation|1">
            <div class="nav-label" data-naveid="4038">Pot Legalization</div>
          </a>
        </li>
                                <li>
          <a href="/local/columnists/" class="hdn-analytics" data-hdn-analytics="visit|Local-Columnists|navigation|2">
            <div class="nav-label" data-naveid="1578">Columnists</div>
          </a>
        </li>
                                <li>
          <a href="/local/sanfrancisco/" class="hdn-analytics" data-hdn-analytics="visit|Local-San Francisco|navigation|3">
            <div class="nav-label" data-naveid="3168">San Francisco</div>
          </a>
        </li>
                                <li>
          <a href="/local/bayarea/" class="hdn-analytics" data-hdn-analytics="visit|Local-Bay Area|navigation|4">
            <div class="nav-label" data-naveid="1397">Bay Area</div>
          </a>
        </li>
                                <li>
          <a href="/local/crime/" class="hdn-analytics" data-hdn-analytics="visit|Local-Crime|navigation|5">
            <div class="nav-label" data-naveid="1400">Crime</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/politics/" class="hdn-analytics" data-hdn-analytics="visit|Local-Politics|navigation|6">
            <div class="nav-label" data-naveid="3584">Politics</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/oakland-fire/" class="hdn-analytics" data-hdn-analytics="visit|Local-Oakland Ghost Ship fire|navigation|7">
            <div class="nav-label" data-naveid="4212">Oakland Ghost Ship fire</div>
          </a>
        </li>
                                <li>
          <a href="http://www.legacy.com/obituaries/sfgate/" class="hdn-analytics" data-hdn-analytics="visit|Local-Obituaries|navigation|8">
            <div class="nav-label" data-naveid="1460">Obituaries</div>
          </a>
        </li>
                                <li>
          <a href="/drought/" class="hdn-analytics" data-hdn-analytics="visit|Local-California Drought|navigation|9">
            <div class="nav-label" data-naveid="3362">California Drought</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-1356" class="menu-item hdn-analytics" data-hdn-analytics="visit|US &amp; World|navigation|4">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/us-world/" class="hdn-analytics" data-hdn-analytics="visit|US &amp; World|navigation|4">
          <span class="section-link" data-naveid="1356">US &amp; World</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="/us-world/us/" class="hdn-analytics" data-hdn-analytics="visit|US &amp; World-US|navigation|1">
            <div class="nav-label" data-naveid="1402">US</div>
          </a>
        </li>
                                <li>
          <a href="/us-world/world/" class="hdn-analytics" data-hdn-analytics="visit|US &amp; World-World|navigation|2">
            <div class="nav-label" data-naveid="1403">World</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/politics/" class="hdn-analytics" data-hdn-analytics="visit|US &amp; World-Politics|navigation|3">
            <div class="nav-label" data-naveid="4208">Politics</div>
          </a>
        </li>
                                <li>
          <a href="/us-world/science/" class="hdn-analytics" data-hdn-analytics="visit|US &amp; World-Science|navigation|4">
            <div class="nav-label" data-naveid="1406">Science</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-1411" class="menu-item hdn-analytics" data-hdn-analytics="visit|Opinion|navigation|5">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/opinion/" class="hdn-analytics" data-hdn-analytics="visit|Opinion|navigation|5">
          <span class="section-link" data-naveid="1411">Opinion</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="/opinion/editorials/" class="hdn-analytics" data-hdn-analytics="visit|Opinion-Editorials|navigation|1">
            <div class="nav-label" data-naveid="1412">Editorials</div>
          </a>
        </li>
                                <li>
          <a href="/opinion/letters-editor/" class="hdn-analytics" data-hdn-analytics="visit|Opinion-Letters to the editor|navigation|2">
            <div class="nav-label" data-naveid="1413">Letters to the editor</div>
          </a>
        </li>
                                <li>
          <a href="/opinion/op-ed-columns/" class="hdn-analytics" data-hdn-analytics="visit|Opinion-Op-ed columns|navigation|3">
            <div class="nav-label" data-naveid="1414">Op-ed columns</div>
          </a>
        </li>
                                <li>
          <a href="/opinion/insight/" class="hdn-analytics" data-hdn-analytics="visit|Opinion-Insight|navigation|4">
            <div class="nav-label" data-naveid="1466">Insight</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/openforum/" class="hdn-analytics" data-hdn-analytics="visit|Opinion-Open Forum|navigation|5">
            <div class="nav-label" data-naveid="3737">Open Forum</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/opinion/article/submit-your-opinion-7244189.php?t=3678db0449" class="hdn-analytics" data-hdn-analytics="visit|Opinion-Submit your opinions|navigation|6">
            <div class="nav-label" data-naveid="3751">Submit your opinions</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-1358" class="menu-item hdn-analytics" data-hdn-analytics="visit|Sports|navigation|6">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/sports/" class="hdn-analytics" data-hdn-analytics="visit|Sports|navigation|6">
          <span class="section-link" data-naveid="1358">Sports</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="/sports/49ers/" class="hdn-analytics" data-hdn-analytics="visit|Sports-49ers|navigation|1">
            <div class="nav-label" data-naveid="1360">49ers</div>
          </a>
        </li>
                                <li>
          <a href="/sports/raiders/" class="hdn-analytics" data-hdn-analytics="visit|Sports-Raiders|navigation|2">
            <div class="nav-label" data-naveid="1361">Raiders</div>
          </a>
        </li>
                                <li>
          <a href="/sports/giants/" class="hdn-analytics" data-hdn-analytics="visit|Sports-Giants|navigation|3">
            <div class="nav-label" data-naveid="1362">Giants</div>
          </a>
        </li>
                                <li>
          <a href="/sports/athletics/" class="hdn-analytics" data-hdn-analytics="visit|Sports-A's|navigation|4">
            <div class="nav-label" data-naveid="1363">A's</div>
          </a>
        </li>
                                <li>
          <a href="/sports/warriors/" class="hdn-analytics" data-hdn-analytics="visit|Sports-Warriors|navigation|5">
            <div class="nav-label" data-naveid="1364">Warriors</div>
          </a>
        </li>
                                <li>
          <a href="/cal_sports/" class="hdn-analytics" data-hdn-analytics="visit|Sports-Cal|navigation|6">
            <div class="nav-label" data-naveid="3595">Cal</div>
          </a>
        </li>
                                <li>
          <a href="/sports/high-school/" class="hdn-analytics" data-hdn-analytics="visit|Sports-High School|navigation|7">
            <div class="nav-label" data-naveid="1369">High School</div>
          </a>
        </li>
                                <li>
          <a href="/stanford_sports/" class="hdn-analytics" data-hdn-analytics="visit|Sports-Stanford|navigation|8">
            <div class="nav-label" data-naveid="3596">Stanford</div>
          </a>
        </li>
                                <li>
          <a href="/sports/sharks/" class="hdn-analytics" data-hdn-analytics="visit|Sports-Sharks|navigation|9">
            <div class="nav-label" data-naveid="1366">Sharks</div>
          </a>
        </li>
                                <li>
          <a href="/sports/outdoors/" class="hdn-analytics" data-hdn-analytics="visit|Sports-Outdoors|navigation|10">
            <div class="nav-label" data-naveid="1375">Outdoors</div>
          </a>
        </li>
                                <li>
          <a href="/sports/college/" class="hdn-analytics" data-hdn-analytics="visit|Sports-College|navigation|11">
            <div class="nav-label" data-naveid="1365">College</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-1407" class="menu-item hdn-analytics" data-hdn-analytics="visit|Biz &amp; Tech|navigation|7">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/business/" class="hdn-analytics" data-hdn-analytics="visit|Biz &amp; Tech|navigation|7">
          <span class="section-link" data-naveid="1407">Biz &amp; Tech</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="http://www.sfchronicle.com/visionsf" class="hdn-analytics" data-hdn-analytics="visit|Biz &amp; Tech-VisionSF|navigation|1">
            <div class="nav-label" data-naveid="4141">VisionSF</div>
          </a>
        </li>
                                <li>
          <a href="/business/realestate/" class="hdn-analytics" data-hdn-analytics="visit|Biz &amp; Tech-Real Estate|navigation|2">
            <div class="nav-label" data-naveid="1409">Real Estate</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/drivingthefuture/" class="hdn-analytics" data-hdn-analytics="visit|Biz &amp; Tech-Driving the future|navigation|3">
            <div class="nav-label" data-naveid="4098">Driving the future</div>
          </a>
        </li>
                                <li>
          <a href="/business/markets/" class="hdn-analytics" data-hdn-analytics="visit|Biz &amp; Tech-Markets|navigation|4">
            <div class="nav-label" data-naveid="1410">Markets</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-1380" class="menu-item hdn-analytics" data-hdn-analytics="visit|A&amp;E|navigation|8">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/entertainment/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E|navigation|8">
          <span class="section-link" data-naveid="1380">A&amp;E</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="/entertainment/movies-tv/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Movies &amp; TV|navigation|1">
            <div class="nav-label" data-naveid="1381">Movies &amp; TV</div>
          </a>
        </li>
                                <li>
          <a href="/entertainment/arts-theater/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Arts &amp; Theater|navigation|2">
            <div class="nav-label" data-naveid="1382">Arts &amp; Theater</div>
          </a>
        </li>
                                <li>
          <a href="/entertainment/music/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Music|navigation|3">
            <div class="nav-label" data-naveid="1383">Music</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/music-festivals/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Music Festivals Guide|navigation|4">
            <div class="nav-label" data-naveid="3853">Music Festivals Guide</div>
          </a>
        </li>
                                <li>
          <a href="/entertainment/books/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Books|navigation|5">
            <div class="nav-label" data-naveid="1385">Books</div>
          </a>
        </li>
                                <li>
          <a href="/badreporter/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Bad Reporter|navigation|6">
            <div class="nav-label" data-naveid="1647">Bad Reporter</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfgate.com/horoscope/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Horoscopes|navigation|7">
            <div class="nav-label" data-naveid="1388">Horoscopes</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/comics/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Comics|navigation|8">
            <div class="nav-label" data-naveid="1389">Comics</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfgate.com/games" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Games|navigation|9">
            <div class="nav-label" data-naveid="1392">Games</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfgate.com/cgi-bin/movies/listings/search" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Movie Listings|navigation|10">
            <div class="nav-label" data-naveid="1465">Movie Listings</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/author/leah-garchik/" class="hdn-analytics" data-hdn-analytics="visit|A&amp;E-Leah Garchik|navigation|11">
            <div class="nav-label" data-naveid="3736">Leah Garchik</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-3157" class="menu-item hdn-analytics" data-hdn-analytics="visit|Food+Home|navigation|9">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/foodandhome/" class="hdn-analytics" data-hdn-analytics="visit|Food+Home|navigation|9">
          <span class="section-link" data-naveid="3157">Food+Home</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="/foodandhome/restaurants/" class="hdn-analytics" data-hdn-analytics="visit|Food+Home-Restaurants|navigation|1">
            <div class="nav-label" data-naveid="1387">Restaurants</div>
          </a>
        </li>
                                <li>
          <a href="/foodandhome/wine/" class="hdn-analytics" data-hdn-analytics="visit|Food+Home-Wine &amp; Beer|navigation|2">
            <div class="nav-label" data-naveid="1390">Wine &amp; Beer</div>
          </a>
        </li>
                                <li>
          <a href="/foodandhome/recipes/" class="hdn-analytics" data-hdn-analytics="visit|Food+Home-Recipes|navigation|3">
            <div class="nav-label" data-naveid="1391">Recipes</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/top100restaurants" class="hdn-analytics" data-hdn-analytics="visit|Food+Home-Top 100 Restaurants|navigation|4">
            <div class="nav-label" data-naveid="1393">Top 100 Restaurants</div>
          </a>
        </li>
                                <li>
          <a href="/foodandhome/home-design/" class="hdn-analytics" data-hdn-analytics="visit|Food+Home-Home Design|navigation|5">
            <div class="nav-label" data-naveid="1373">Home Design</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-3116" class="menu-item hdn-analytics" data-hdn-analytics="visit|Style|navigation|10">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/style/" class="hdn-analytics" data-hdn-analytics="visit|Style|navigation|10">
          <span class="section-link" data-naveid="3116">Style</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="/style/scene/" class="hdn-analytics" data-hdn-analytics="visit|Style-Scene|navigation|1">
            <div class="nav-label" data-naveid="3117">Scene</div>
          </a>
        </li>
                                <li>
          <a href="/style/fashion/" class="hdn-analytics" data-hdn-analytics="visit|Style-Fashion|navigation|2">
            <div class="nav-label" data-naveid="3118">Fashion</div>
          </a>
        </li>
                                <li>
          <a href="/style/weddings/" class="hdn-analytics" data-hdn-analytics="visit|Style-Weddings|navigation|3">
            <div class="nav-label" data-naveid="3120">Weddings</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/top-shops-2016/" class="hdn-analytics" data-hdn-analytics="visit|Style-Top Shops 2016|navigation|4">
            <div class="nav-label" data-naveid="4045">Top Shops 2016</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-3750" class="menu-item childless hdn-analytics">
      <div class="nav-label" data-hdn-analytics="visit|Travel|navigation|11">
        <a href="http://www.sfchronicle.com/lifestyle/travel/" class="hdn-analytics" data-hdn-analytics="visit|Travel|navigation|11">
          <span class="section-link" data-naveid="3750">Travel</span>
        </a>
      </div>
    </li>
                            <li id="nav-menu-link-3411" class="menu-item hdn-analytics" data-hdn-analytics="visit|Photos|navigation|12">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="http://www.sfchronicle.com/thetake/" class="hdn-analytics" data-hdn-analytics="visit|Photos|navigation|12">
          <span class="section-link" data-naveid="3411">Photos</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="http://www.sfchronicle.com/thetakepotw/" class="hdn-analytics" data-hdn-analytics="visit|Photos-Photos of the Week|navigation|1">
            <div class="nav-label" data-naveid="3413">Photos of the Week</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/theregulars/" class="hdn-analytics" data-hdn-analytics="visit|Photos-The Regulars|navigation|2">
            <div class="nav-label" data-naveid="3585">The Regulars</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-4206" class="menu-item hdn-analytics" data-hdn-analytics="visit|Archives|navigation|13">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="http://www.sfchronicle.com/covers/" class="hdn-analytics" data-hdn-analytics="visit|Archives|navigation|13">
          <span class="section-link" data-naveid="4206">Archives</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="http://www.sfchronicle.com/covers/" class="hdn-analytics" data-hdn-analytics="visit|Archives-Chronicle Covers|navigation|1">
            <div class="nav-label" data-naveid="3954">Chronicle Covers</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/oursf/" class="hdn-analytics" data-hdn-analytics="visit|Archives-Our SF: Archive|navigation|2">
            <div class="nav-label" data-naveid="3426">Our SF: Archive</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/thetakefromthearchive/" class="hdn-analytics" data-hdn-analytics="visit|Archives-From the Archive|navigation|3">
            <div class="nav-label" data-naveid="3412">From the Archive</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/local/portalsofthepast/" class="hdn-analytics" data-hdn-analytics="visit|Archives-Portals of the Past|navigation|4">
            <div class="nav-label" data-naveid="4207">Portals of the Past</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/archive/" class="hdn-analytics" data-hdn-analytics="visit|Archives-Archives Search|navigation|5">
            <div class="nav-label" data-naveid="3187">Archives Search</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-3419" class="menu-item hdn-analytics" data-hdn-analytics="visit|In-Depth|navigation|14">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="/special-reports/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth|navigation|14">
          <span class="section-link" data-naveid="3419">In-Depth</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="http://www.sfchronicle.com/top100restaurants" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-Top 100 Restaurants|navigation|1">
            <div class="nav-label" data-naveid="3421">Top 100 Restaurants</div>
          </a>
        </li>
                                <li>
          <a href="http://projects.sfchronicle.com/sf-homeless/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-Beyond Homelessness|navigation|2">
            <div class="nav-label" data-naveid="3913">Beyond Homelessness</div>
          </a>
        </li>
                                <li>
          <a href="http://projects.sfchronicle.com/2016/oakland-fire-victims/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-Oakland Fire Victims|navigation|3">
            <div class="nav-label" data-naveid="4200">Oakland Fire Victims</div>
          </a>
        </li>
                                <li>
          <a href="http://projects.sfchronicle.com/2016/living-with-aids/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-AIDS Survivors|navigation|4">
            <div class="nav-label" data-naveid="3735">AIDS Survivors</div>
          </a>
        </li>
                                <li>
          <a href="http://projects.sfchronicle.com/2016/sea-level-rise/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-Rising sea levels|navigation|5">
            <div class="nav-label" data-naveid="3855">Rising sea levels</div>
          </a>
        </li>
                                <li>
          <a href="http://projects.sfchronicle.com/2016/najee-harris/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-The Najee Chronicles|navigation|6">
            <div class="nav-label" data-naveid="4065">The Najee Chronicles</div>
          </a>
        </li>
                                <li>
          <a href="http://projects.sfchronicle.com/2016/california-seafood-collapse/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-Seafood's new normal|navigation|7">
            <div class="nav-label" data-naveid="4137">Seafood's new normal</div>
          </a>
        </li>
                                <li>
          <a href="http://projects.sfchronicle.com/2016/black-voices/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-Black lives, black voices|navigation|8">
            <div class="nav-label" data-naveid="3939">Black lives, black voices</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/brewerymap/" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-NorCal Brewery Map|navigation|9">
            <div class="nav-label" data-naveid="3767">NorCal Brewery Map</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/food/article/Bar-Stars-2016-A-drink-for-everyone-9984049.php" class="hdn-analytics" data-hdn-analytics="visit|In-Depth-Bar Stars 2016|navigation|10">
            <div class="nav-label" data-naveid="4134">Bar Stars 2016</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-3169" class="menu-item hdn-analytics" data-hdn-analytics="visit|Membership|navigation|15">
      <div class="nav-label">
        <span class="arrow expand"></span>
        <a href="http://www.sfchronicle.com/membership/" class="hdn-analytics" data-hdn-analytics="visit|Membership|navigation|15">
          <span class="section-link" data-naveid="3169">Membership</span>
        </a>
      </div>
            <ul class="nav-submenu-list">
                        <li>
          <a href="/membership/faq/" class="hdn-analytics" data-hdn-analytics="visit|Membership-About Membership|navigation|1">
            <div class="nav-label" data-naveid="3170">About Membership</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/membership/#offers" class="hdn-analytics" data-hdn-analytics="visit|Membership-Exclusive offers|navigation|2">
            <div class="nav-label" data-naveid="3172">Exclusive offers</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/subscribe/?ipid=membership" class="hdn-analytics" data-hdn-analytics="visit|Membership-Join Now|navigation|3">
            <div class="nav-label" data-naveid="3171">Join Now</div>
          </a>
        </li>
                                <li>
          <a href="/e-edition/" class="hdn-analytics" data-hdn-analytics="visit|Membership-e-edition|navigation|4">
            <div class="nav-label" data-naveid="4199">e-edition</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/appdownload" class="hdn-analytics" data-hdn-analytics="visit|Membership-App|navigation|5">
            <div class="nav-label" data-naveid="4198">App</div>
          </a>
        </li>
                                <li>
          <a href="http://www.sfchronicle.com/account" class="hdn-analytics" data-hdn-analytics="visit|Membership-Manage my account|navigation|6">
            <div class="nav-label" data-naveid="3173">Manage my account</div>
          </a>
        </li>
                      </ul>
          </li>
                            <li id="nav-menu-link-4117" class="menu-item childless hdn-analytics">
      <div class="nav-label" data-hdn-analytics="visit|Store|navigation|16">
        <a href="https://sfchronicle.myshopify.com/" class="hdn-analytics" data-hdn-analytics="visit|Store|navigation|16">
          <span class="section-link" data-naveid="4117">Store</span>
        </a>
      </div>
    </li>
                  </ul>
</div><!-- navMenu -->
<!-- e src/business/templates/hearst/common/premium_dynamic_nav.tpl -->
</div><!--e src/business/templates/hearst/home/premium_navigation_main.tpl -->
<!-- e hearst/home/navigation.tpl -->
    <!-- templates/design/channel/premium_section_r2.tpl  -->


<div class="sync-inline-overlay">



<!-- noGen: item_violator_promo 35 -->
<div class="zone zone-1">
        <div class="hst-freeform hdnce-e hdnce-item-74158">
        